<footer class="footer">
  <small>
    <%= link_to "amzDAY",   root_path %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://twitter.com/amzVIEW">Follow Us</a></li>
    </ul>
  </nav>
</footer>